.mavic{
    width: 640px;
    height: 400px;
    background-color: rgb(52, 143, 0);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    cursor: pointer; /*изменение мыши при наведении на блок*/
    overflow: hidden; /*Отображается только область внутри элемента, остальное будет скрыто*/
}
.mavic__title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 24px;
    font-family: serif;
    color: bisque;
}
.mavic-img{
    transition: all .5s;
}
.mavic:hover .mavic-img{
    transform: translateY(-100%);
}
.mavic::after,
.mavic::before{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    transition: all .5s;
}
.mavic::after{
    background-image: url(../img/iphone-front.png);
    right: 21%;
    transform: translate(0, 200%) rotate(20deg);
}
.mavic::before{
    background-image: url(../img/iphone-back.png);
    left: 21%;
    transform: translate(0, 200%) rotate(-20deg);
}
.mavic:hover::after{
    transform: translate(0, 0) rotate(0deg);
}
.mavic:hover::before{
    transform: translate(0, 0) rotate(0deg);
}